<p id="notice"><%= notice %></p>

<p>
  <strong>Condition name:</strong>
  <%= @condition.condition_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @condition.description %>
</p>

<%= link_to 'Edit', edit_condition_path(@condition) %> |
<%= link_to 'Back', conditions_path %>
